/* Sass Document */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
/*
.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
} */

.navbar .navbar-brand {
  font-size: 40px;
  color: #0080ff;
  font-family: "Montserrat", sans-serif; }

#langNav {
    text-align: center;
  margin-left: 30vw; }

.custom-toggler .navbar-toggler {
  border-color: #0080ff; }

.jumbotron {
    /* padding-top: 90px; */
  background-color: #262626 !important;
  font-family: "Source Code Pro", monospace;
  color: white; }
  .jumbotron .tronText {
    background-color: black !important;
    margin: 1vw;
    padding: 3vw; }
    .jumbotron .tronText .tagp {
      color: #0080ff; }
    .jumbotron .tronText .tagh6 {
      color: lightgreen;
      margin-left: 2vw; }
    .jumbotron .tronText .tagDesc {
      margin-left: 100 !important;
      margin-left: 5vw; }

.footerBar {
  text-align: right;
  padding: 4vh; }
  .footerBar .downRes {
    color: black; }

.eduEx {
  font-family: "Montserrat", sans-serif; }

.workEx {
  font-family: "Montserrat", sans-serif; }

.techEx {
  font-family: "Montserrat", sans-serif; }

.contactMe-form {
  font-family: "Montserrat", sans-serif;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: center; }

.projs{
    text-align: center;
    margin-left: 33vw;
}

@media (max-width: 980px) {
    .projs{
        margin-left: 0px;
    }
    #langNav{
        margin-left: 0px;
    }
}
/* .ux-ui{
    display:block;
}
.web{
    display:block;
}
.games{
    display:block;
} */
