/* Sass Document */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700)
$headergreen:#7e865b
$codeFont: 'Source Code Pro', monospace
$typeFont: 'Montserrat', sans-serif

.navbar .navbar-brand
	font-size: 40px
	color: $headergreen
	font-family: $typeFont

#langNav
	margin-left: 30vw

.custom-toggler .navbar-toggler
	border-color: $headergreen

.jumbotron
	background-color: rgba(38,38,38, 1.0)!important
	font-family: $codeFont
	color: white
	.tronText
		background-color: rgba(0,0,0, 1.0)!important
		margin: 1vw
		padding: 3vw
		.tagp
			color: hotpink
		.tagh6
			color: lightgreen
			margin-left: 2vw
		.tagDesc
			margin-left: 100!important
			margin-left: 5vw

.footerBar
	text-align: right
	padding: 4vh
	.downRes
		color: black

.eduEx
	font-family: $typeFont 

.workEx
	font-family: $typeFont 

.techEx
	font-family: $typeFont

